{
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-unused-vars": ["error", { "args": "none", "varsIgnorePattern": "^_" }],
    "react/no-array-index-key": ["error"]
  }
}
