{
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["@emotion"],
  "rules": {
    "no-unused-vars": ["error", { "args": "none", "varsIgnorePattern": "^_" }]
  }
}
