{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "alpha-value-notation": "number",
    "at-rule-name-case": "lower",
    "at-rule-name-space-after": "always",
    "at-rule-semicolon-newline-after": "always",
    "selector-class-pattern": "[a-z]+((d)|([A-Z0-9][a-z0-9]+))*([A-Z])?"
  }
}
