html,
body {
  padding: 0;
  margin: 0;
  font-family: "Jost";
}

:root {
  --color-bg-primary: #ffffff;
  color-scheme: light;
}

[data-theme="dark"] {
  --color-bg-primary: #0e141a;
  color-scheme: dark;
}

* {
  border: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

html {
  background: var(--color-bg-primary);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #27272a;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #ff006a;
  border: 2px solid #27272a;
}
